@model IEnumerable<ImprowinCompanyWebsite.TblComment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">

                <div class="span6">
                    <div class="widget">


                    </div>

                    <div class="widget widget-table action-table">
                        <div class="widget-header">
                            <i class="icon-th-list"></i>
                            <h3>@Html.ActionLink("Create New", "Create")</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>
                                            Id#
                                        </th>
                                        <th class="col-md-2">
                                            Comment Title
                                            @*@Html.DisplayNameFor(model => model.CommentTitle)*@
                                        </th>
                                        <th class="col-md-6">
                                            Comment Description
                                            @*@Html.DisplayNameFor(model => model.CommentDesc)*@
                                        </th>
                                        <th>
                                            Status
                                            @*@Html.DisplayNameFor(model => model.CreatedBy)*@
                                        </th>
                                        

                                        <th class="td-actions"> </th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @{int i = 0;}
                                    @foreach (var item in Model)
                                    {
                                       
                                        <tr>
                                            <td>
                                                @(i = i + 1)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CommentTitle)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CommentDesc)
                                            </td>
                                            <td>
                                                @{var ActiveCD = Html.DisplayFor(modelItem => item.TblStatu.StatusName);}

                                                
                                                @ActiveCD

                                            </td>
                                            
                                            @*<td>
                                                    @Html.DisplayFor(modelItem => item.ModifiedBy)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ModificationDt)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ActiveCD)
                                                </td>*@
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.CommentID }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.CommentID }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.CommentID })
                                            </td>
                                        </tr>
                                                    }

                                    @*<tr>
                                            <td> Fresh Web Development Resources </td>
                                            <td> http://www.egrappler.com/ </td>
                                            <td class="td-actions"><a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a><a href="javascript:;" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a></td>
                                        </tr>
                                        <tr>
                                            <td> Fresh Web Development Resources </td>
                                            <td> http://www.egrappler.com/ </td>
                                            <td class="td-actions"><a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a><a href="javascript:;" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a></td>
                                        </tr>
                                        <tr>
                                            <td> Fresh Web Development Resources </td>
                                            <td> http://www.egrappler.com/ </td>
                                            <td class="td-actions"><a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a><a href="javascript:;" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a></td>
                                        </tr>
                                        <tr>
                                            <td> Fresh Web Development Resources </td>
                                            <td> http://www.egrappler.com/ </td>
                                            <td class="td-actions"><a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a><a href="javascript:;" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a></td>
                                        </tr>*@

                                </tbody>
                            </table>
                        </div>
                        <!-- /widget-content -->
                    </div>

                </div>
                <!-- /span6 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>